/* black to white */
$black: #323232;
$silver: #AFAFAF;
$mercury: #E1E1E1;
$white: #FFFFFF;

/* blues */
$instock-blue: #004892;
$instock-blue-dark: #002F5F;
$Brainﬂix-blue: #0095FF;
$Brainﬂix-blue-dark: #0065AD;

