html,
body {
  margin: 0;
  padding: 0;
}

.header {
  align-items: center;
  width: 100%;
  height: 80px;
  background-color: $black;
  margin: 0;

  &__title {
    font-size: 24px;
    text-align: center;
    color: $white;
    margin-bottom: 16px;
    font-family: 'avenir-demibold';      
    }

  &__navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
  
  &__navbar--optionsleft {
  width: 50%;
  font-size: 14px;
  text-align: center;
  color: $mercury;
  margin: 0;
  padding: 8px;
  font-family: 'avenir-demibold';
  }
  &__navbar--optionsleft:hover {
    border-bottom: 3px solid $white;
    color: $white;
  }

  &__navbar--optionsright {
  width: 50%;
  font-size: 14px;
  text-align: center;
  color: $mercury;
  margin: 0;
  padding: 8px;
  font-family: 'avenir-demibold';
  }
  &__navbar--optionsright:hover {
    border-bottom: 3px solid $white;
    color: $white;
  }
} 


// nav {
//   display: flex;
//   flex-direction: row;
//   justify-content: space-between;
//   position: relative;
// }

// .header__title {
//  font-size: 24px;
//  text-align: center;
//  color: $white;
//  margin-bottom: 16px;
//  font-family: 'avenir-demibold';
// }

// .header__nav--opitonsleft, .header__nav--optionsright {
//   width: 50%;
//   font-size: 14px;
//   text-align: center;
//   color: $white;
//   margin: 0;
//   font-family: 'avenir-demibold';
// }

@include medium {
  .header {
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: $black;
    margin: 0;
    display: flex;
    flex-direction: row;
  
    &__title {
      font-size: 36px;
      text-align: center;
      color: $white;
      margin: 0 24px ;
      font-family: 'avenir-demibold';      
      }
  
    &__navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    margin-top: none;
    }
    
    &__navbar--optionsleft {
    width: 40%;
    font-size: 16px;
    text-align: center;
    color: $mercury;
    margin: 0 50px;
    padding: 27px;
    font-family: 'avenir-demibold';
    }

    &__navbar--optionsleft:hover {
      border-bottom: 3px solid $white;
      color: $white;
    }
  
    &__navbar--optionsright{
    width: 40%;
    font-size: 16px;
    text-align: center;
    color: $mercury;
    margin: 0 50px;
    padding: 27px;
    font-family: 'avenir-demibold';
    }

    &__navbar--optionsright:hover {
      border-bottom: 3px solid $white;
      color: $white;
    }
  } 
}


//   header {
//     align-items: center;
//     position: fixed;
//     width: 100%;
//     height: 80px;
//     background-color: $black;
//     margin: 0 0 5px;
//     display: flex;
//     flex-direction: row;
//   }
    
//   nav {
//     display: flex;
//     flex-direction: row;
//     justify-content: space-evenly;
//     position: relative;
//     margin-top: none;
//   }
  
//   .header__page--title {
//    font-size: 36px;
//    position: relative;
//    text-align: center;
//    color: $white;
//    margin: 0 24px ;
//    font-family: 'avenir-demibold';
//   }
  
//   .header__nav--opitonsleft, .header__nav--optionsright {
//     width: 30%;
//     font-size: 24px;
//     text-align: center;
//     color: $white;
//     margin: 0 50px;
//     font-family: 'avenir-demibold';
//   }

// }

@include large {
  .header {
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: $black;
    margin: 0;
    display: flex;
    flex-direction: row;
  
    &__title {
      font-size: 36px;
      text-align: center;
      color: $white;
      margin: 0 56px 0 180px;
      font-family: 'avenir-demibold';      
      }
  
    &__navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    margin-top: none;
    }
    
    &__navbar--optionsleft {
    width: 70px;
    font-size: 16px;
    text-align: center;
    color: $mercury;
    padding: 27px 5px;
    margin-right: 56px;
    font-family: 'avenir-demibold';
    }
    &__navbar--optionsleft:hover {
      border-bottom: 3px solid $white;
      color: $white;
    }
  
    &__navbar--optionsright{
    width: 40%;
    font-size: 16px;
    text-align: center;
    color: $mercury;
    padding: 27px 5px;
    margin-right: 56px;
    font-family: 'avenir-demibold';
    }
    &__navbar--optionsright:hover {
      border-bottom: 3px solid $white;
      color: $white;
    }
  } 
}

//   header {
//     align-items: center;
//     position: fixed;
//     width: 100%;
//     height: 80px;
//     background-color: $black;
//     margin: 0 0 5px;
//     display: flex;
//     flex-direction: row;
//   }
    
//   nav {
//     display: flex;
//     flex-direction: row;
//     justify-content: space-evenly;
//     position: relative;
//     margin-top: none;
//   }
  
//   .header__page--title {
//    font-size: 36px;
//    position: relative;
//    text-align: center;
//    color: $white;
//    margin: 0 56px 0 180px;
//    font-family: 'avenir-demibold';
//   }
  
//   .header__nav--opitonsleft, .header__nav--optionsright {
//     width: 70;
//     font-size: 24px;
//     text-align: center;
//     color: $white;
//     padding: 0 5px;
//     margin-right: 56px;
//     font-family: 'avenir-demibold';
//   }
// }
