@font-face {
  font-family: 'avenir-regular';
  src: url("../../assets/fonts/AvenirNextLTPro.ttf");
}

@font-face {
  font-family: 'avenir-bold';
  src: url("../../assets/fonts/AvenirNextLTProBold.ttf");
}

@font-face {
  font-family: 'avenir-demibold';
  font-weight: bold;
  src: url("../../assets/fonts/AvenirNextLTProDemi.ttf");
}